.about{

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    padding:100px 10%;

    background:var(--bg-color);
    transition:.3s;

}

.about-image img{

    width:320px;
    border-radius:20px;

    border:4px solid var(--primary);

    box-shadow:0 0 25px rgba(0,212,255,.4);

}

.about-content{

    flex:1;

}

.about-content h2{

    font-size:45px;
    color:var(--primary);

    margin-bottom:30px;

}

.about-content h3{

    font-size:28px;
    color:var(--text-color);

    margin-bottom:25px;

}

.about-content p{

    max-width:850px;

    color:var(--text-color);

    opacity:.8;

    line-height:1.8;

    font-size:18px;

    margin-bottom:30px;

}

.about-info{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;

    margin-bottom:30px;

}

.about-info div{

    background:var(--card-color);

    color:var(--text-color);

    padding:15px;

    border-radius:10px;

    transition:.3s;

}

.about-info div strong{

    color:var(--text-color);

}

.about-info div:hover{

    transform:translateY(-5px);

    box-shadow:0 0 15px rgba(0,212,255,.3);

}

button{

    transition:.3s;

}

button:hover{

    transform:translateY(-5px);

    box-shadow:0 0 20px var(--primary);

}