.contact{

    padding:100px 10%;
    background:var(--bg-color);
    transition:.3s;

}

.contact form{

    max-width:700px;
    margin:auto;

}

.section-title{

    text-align:center;
    font-size:50px;
    margin-bottom:10px;
    color:var(--text-color);

}

.section-title span{

    color:var(--primary);

}

.section-subtitle{

    text-align:center;
    color:var(--text-color);
    opacity:.7;
    margin-bottom:60px;

}

.contact-container{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;

}

.contact-info{

    background:var(--card-color);
    padding:40px;
    border-radius:20px;
    transition:.3s;

}

.contact-info h3{

    color:var(--primary);
    margin-bottom:20px;

}

.contact-info p{

    color:var(--text-color);
    line-height:1.8;

}

.info-box{

    display:flex;
    align-items:center;
    gap:15px;
    margin-top:25px;
    color:var(--text-color);

}

.info-box i{

    color:var(--primary);
    font-size:22px;

}

.contact-form{

    background:var(--card-color);
    padding:40px;
    border-radius:20px;
    transition:.3s;

}

.contact-form input,
.contact-form textarea{

    width:100%;
    padding:15px;
    margin-bottom:20px;

    background:var(--bg-color);
    color:var(--text-color);

    border:1px solid #555;
    border-radius:10px;

}

.contact-form input:focus,
.contact-form textarea:focus{

    outline:2px solid var(--primary);

}

.contact-form button{

    width:100%;
    padding:15px;

    background:var(--primary);

    color:#111;

    border:none;
    border-radius:10px;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.contact-form button:hover{

    transform:translateY(-4px);

}