.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:#1a1a1a;
    padding:25px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#00d4ff;
    margin-bottom:15px;
}

.projects{

    padding:100px 10%;

}

.section-title{

    text-align:center;
    color:#00d4ff;
    font-size:48px;
    margin-bottom:60px;

}

.project-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    gap:35px;

}

.project-card{

    background:#1b1b1b;
    border-radius:20px;
    overflow:hidden;
    transition:.4s;
    border:1px solid #2f2f2f;

}

.project-card:hover{

    transform:translateY(-12px);
    box-shadow:0 0 25px rgba(0,212,255,.4);

}

.project-card img{

    width:100%;
    height:220px;
    object-fit:cover;
    transition:.4s;

}

.project-card:hover img{

    transform:scale(1.08);

}

.project-content{

    padding:25px;

}

.project-content h3{

    color:#00d4ff;
    margin-bottom:15px;

}

.project-content p{

    color:#ccc;
    line-height:1.7;

}

.tech-stack{

    margin:25px 0;

}

.tech-stack span{

    display:inline-block;

    background:#00d4ff;

    color:#111;

    padding:7px 15px;

    border-radius:20px;

    margin:5px;

    font-size:14px;

    font-weight:bold;

}

.project-btn{

    display:flex;

    gap:15px;

}

.project-btn a{

    flex:1;

    text-align:center;

    text-decoration:none;

    padding:12px;

    border-radius:10px;

    background:#00d4ff;

    color:#111;

    font-weight:bold;

    transition:.3s;

}

.project-btn a:hover{

    background:white;

    transform:translateY(-3px);

}
.projects{
    padding:140px 10% 100px;
}

.section-title{
    margin-top:40px;
}

.tech-stack span:hover{

    transform:scale(1.1);

    transition:.3s;

}