<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>

<div class="top-bar">

    <h1>📩 Contact Messages</h1>

    <a href="{{ url_for('logout') }}" class="logout-btn">
        🔓 Logout
    </a>

</div>

<form method="GET" action="{{ url_for('admin') }}" class="search-form">

    <input type="text"
           name="search"
            placeholder="🔍 Search by Name or Email"
           value="{{ request.args.get('search','') }}">

    <button type="submit">Search</button>

</form>

<div class="dashboard-cards">

    <div class="card">
        <h3>📩 Total Messages</h3>
        <p>{{ total_messages }}</p>
    </div>

    <div class="card">
        <h3>📅 Today's Messages</h3>
        <p>{{ today_messages }}</p>
    </div>

    <div class="card">
        <h3>👤 Logged In</h3>
        <p>Admin</p>
    </div>

</div>


<table>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Message</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% if messages %}

        {% for msg in messages %}

        <tr>

            <td>{{ msg.id }}</td>
            <td>{{ msg.name }}</td>
            <td>{{ msg.email }}</td>
            <td>{{ msg.subject }}</td>
            <td>
                {{ msg.message[:50] }}{% if msg.message|length > 50 %}...{% endif %}
                    <br><br>
                    <button class="view-btn"
                    onclick="showMessage(`{{ msg.message }}`)">
                        👁 View
                </button>

            </td>
            <td>{{ msg.created_at }}</td>

            <td>
                <a href="{{ url_for('delete_message', id=msg.id) }}"
                   class="delete-btn"
                   onclick="return confirm('Are you sure you want to delete this message?')">
                    🗑 Delete
                </a>
            </td>

        </tr>

        {% endfor %}

    {% else %}

        <tr>
            <td colspan="7" style="text-align:center; padding:20px;">
                📭 No messages found.
            </td>
        </tr>

    {% endif %}

</table>

<div id="messageModal" class="modal">

    <div class="modal-content">

        <span class="close" onclick="closeModal()">&times;</span>

        <h2>📩 Full Message</h2>

        <p id="fullMessage"></p>

    </div>

</div>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

</body>
</html>