<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reset Password</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/login.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="auth-container">

    <!-- Left Side -->

    <div class="auth-left">

        <div class="shield">

            <i class="fa-solid fa-key"></i>

        </div>

        <h1>Reset Password</h1>

        <p>

            Create a new secure password for your admin account.

        </p>

    </div>

    <!-- Right Side -->

    <div class="login-box">

        <h2>Create New Password</h2>

        <p class="subtitle">

            Your new password must be different from the previous one.

        </p>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <div class="password-box">

                <i class="fa-solid fa-lock lock-icon"></i>

                <input
                    type="password"
                    id="new_password"
                    name="new_password"
                    placeholder="New Password"
                    required>

                <span
                    class="toggle-password"
                    onclick="togglePassword('new_password', this)">

                    <i class="fa-solid fa-eye"></i>

                </span>

            </div>

            <div class="password-box">

                <i class="fa-solid fa-lock lock-icon"></i>

                <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    required>

                <span
                    class="toggle-password"
                    onclick="togglePassword('confirm_password', this)">

                    <i class="fa-solid fa-eye"></i>

                </span>

            </div>

            <button type="submit">

                Reset Password

            </button>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>

</body>

</html>