<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Verify OTP</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/login.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

<div class="auth-container">

    <div class="auth-left">

        <div class="shield">

            <i class="fa-solid fa-envelope-circle-check"></i>

        </div>

        <h1>OTP Verification</h1>

        <p>

            Enter the verification code sent to your registered email.

        </p>

    </div>

    <div class="login-box">

        <h2>Verify OTP</h2>

        <p class="subtitle">

            Please enter the 6-digit OTP.

        </p>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST">

            <div class="input-box">

                <i class="fa-solid fa-key"></i>

                <input
                    type="text"
                    name="otp"
                    maxlength="6"
                    placeholder="Enter OTP"
                    required>

            </div>

            <button type="submit">

                Verify OTP

            </button>

        </form>

        <div class="forgot" style="margin-top:20px;text-align:center;">

            Didn't receive the OTP?

            <br><br>

            <a href="{{ url_for('resend_otp') }}">

                🔄 Resend OTP

            </a>

        </div>

    </div>

</div>

</body>

</html>