<section class="about" id="about">

    <div class="about-image">
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Monish Khan">
    </div>

    <div class="about-content">

        <h2>About Me</h2>

        <h3>Python & Flask Developer | Data Science Learner</h3>

        <p>
            I'm Monish , a final-year B.Tech Computer Science Engineering (CSE)
            student with a strong interest in Python Development, Flask, and Data
            Science.

            I enjoy building responsive web applications and solving real-world
            problems through programming. I'm continuously improving my skills in
            Python, Flask, HTML, CSS, JavaScript, MySQL, and Data Science by building
            practical projects.

            My goal is to start my career as a Python Full-Stack Developer or Data
            Science professional, where I can apply my technical skills, learn from
            experienced teams, and contribute to impactful projects.
        </p>

        

            <div class="about-info">

                <div>
                    <strong>Name:</strong> Monish 
                </div>

                <div>
                    <strong>Education:</strong> B.Tech (CSE) - Final Year
                </div>

                <div>
                    <strong>Role:</strong> Python & Flask Developer
                </div>

                <div>
                    <strong>Specialization:</strong> Data Science
                </div>

                <div>
                    <strong>Status:</strong> Open to Internship Opportunities
                </div>

                <div>
                    <strong>Location:</strong> India
                </div>

            </div>


        <a href="{{ url_for('static', filename='resume.pdf') }}" download>
            <button>Download CV</button>
        </a>

    </div>

</section>