<section class="contact" id="contact">

    <h2 class="section-title">
        Contact <span>Me</span>
    </h2>

    <p class="section-subtitle">
        Let's work together. Feel free to contact me.
    </p>

    <div class="contact-container">

        <!-- Left Side -->

        <div class="contact-info">

            <h3>Get In Touch</h3>

            <p>
                I'm currently looking for internship and freelance
                opportunities in Python, Flask and Data Science.
            </p>

            <div class="info-box">
                <i class="fa-solid fa-envelope"></i>
                <span>mkha22647@gmail.com</span>
            </div>

            <div class="info-box">
                <i class="fa-solid fa-phone"></i>
                <span>+91 9548769800</span>
            </div>

            <div class="info-box">
                <i class="fa-solid fa-location-dot"></i>
                <span>India</span>
            </div>

        </div>


        <!-- Right Side -->

        <form action="/contact" method="POST" class="contact-form">

            <input
                type="text"
                name="name"
                placeholder="Your Name"
                required>

            <input
                type="email"
                name="email"
                placeholder="Your Email"
                required>

            <input
                type="text"
                name="subject"
                placeholder="Subject"
                required>

            <textarea
                name="message"
                rows="6"
                placeholder="Write your message..."
                required></textarea>

            <button type="submit">
                Send Message
            </button>

        </form>

    </div>

</section>