<footer class="footer">

    <div class="footer-content">

        <h2>Monish </h2>

        <p>
            Python Developer | Flask Developer | Data Science Learner
        </p>

        <div class="footer-links">

            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>

        </div>

        <div class="footer-social">

            <a href="https://github.com/monish-09" target="_blank">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://www.linkedin.com/in/monish-23839b30a " target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>

            <a href="mailto:mkha22647@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>

        </div>

        <p class="copyright">
            © 2027 Monish . All Rights Reserved.
        </p>

    </div>

</footer>