<section class="projects" id="projects">

    <h2 class="section-title">My Projects</h2>

    <div class="project-container">

        <!-- Project 1 -->
        <div class="project-card">

            <img src="{{ url_for('static', filename='images/hospital.png') }}" alt="Hospital Management">

            <div class="project-content">

                <h3>Hospital Management System</h3>

                <p>
                    Developed a Hospital Management System using Flask and MySQL featuring patient registration, appointment scheduling, doctor management, authentication, and CRUD operations.
                </p>

                <div class="tech-stack">
                    <span>Python</span>
                    <span>Flask</span>
                    <span>MySQL</span>
                </div>

                <div class="project-btn">

                    <a href="#" target="_blank"><i class="fa-brands fa-github"></i> GitHub </a>

                    <a href="#" target="_blank"><i class="fa-solid fa-up-right-from-square"></i> Live Demo </a>

                </div>

            </div>

        </div>

        <!-- Project 2 -->
        <div class="project-card">

            <img src="{{ url_for('static', filename='images/portfolio.png') }}" alt="Portfolio">

            <div class="project-content">

                <h3>Portfolio Website</h3>

                <p>
                    Personal portfolio developed using Flask, HTML, CSS and JavaScript.
                </p>

                <div class="tech-stack">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Flask</span>
                </div>

                <div class="project-btn">

                    <a href="#"><i class="fa-brands fa-github"></i> GitHub </a>

                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i> Live Demo </a>

                </div>

            </div>

        </div>

        <!-- Project 3 -->
        <div class="project-card">

            <img src="{{ url_for('static', filename='images/dashboard.png') }}" alt="Dashboard">

            <div class="project-content">

                <h3>Data Science Dashboard</h3>

                <p>
                    Interactive dashboard created using Pandas and Plotly.
                </p>

                <div class="tech-stack">
                    <span>Python</span>
                    <span>Pandas</span>
                    <span>Plotly</span>
                </div>

                <div class="project-btn">

                    <a href="#"><i class="fa-brands fa-github"></i> GitHub </a>

                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i> Live Demo </a>

                </div>

            </div>

        </div>

    </div>

</section>